body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('tu_imagen_de_fondo.jpg'); /* Reemplaza 'tu_imagen_de_fondo.jpg' con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header {
    background-color: #D80D0D;
    padding: 15px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px; /* Ajusta el tamaño del logo según tus necesidades */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.main-content {
    padding: 120px 20px 20px; /* Ajusta el espacio para que el contenido no se solape con la barra de navegación */
    color: white;
}

footer {
    background-color: #D80D0D;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}
